<aside *ngIf="rolNormalizado === 'paciente'" class="sidebar {{colorClase}}">
  <a routerLink="/home" routerLinkActive="active" class="menu-item">
    <span class="icon home"><i class="fa-solid fa-home"></i></span>
    <span class="label">Inicio</span>
  </a>
  <a routerLink="/perfilPsicometrico" routerLinkActive="active" class="menu-item">
    <span class="icon profile"><i class="fa-solid fa-user"></i></span>
    <span class="label">Perfil</span>
  </a>
  <a routerLink="/chatbot" routerLinkActive="active" class="menu-item">
    <span class="icon menu"><i class="fa-solid fa-message"></i></span>
    <span class="label">Chat</span>
  </a>
  <a routerLink="/citas/paciente" routerLinkActive="active" class="menu-item">
    <span class="icon citas"><i class="fa-solid fa-calendar"></i></span>
    <span class="label">Citas</span>
  </a>
  <button type="button" (click)="cerrarSesion()" class="menu-item">
    <span class="icon logout"><i class="fa-solid fa-right-from-bracket"></i></span>
    <span class="label">Cerrar sesión</span>
  </button>
</aside>

<aside *ngIf="rolNormalizado === 'especialista'" class="sidebar {{colorClase}}">
  <a routerLink="/chatbot" routerLinkActive="active" class="menu-item">
    <span class="icon menu"><i class="fa-solid fa-message"></i></span>
    <span class="label">Chat</span>
  </a>
  <a routerLink="/citas/especialista" routerLinkActive="active" class="menu-item">
    <span class="icon citas"><i class="fa-solid fa-calendar"></i></span>
    <span class="label">Citas</span>
  </a>
  <button type="button" (click)="cerrarSesion()" class="menu-item">
    <span class="icon logout"><i class="fa-solid fa-right-from-bracket"></i></span>
    <span class="label">Cerrar sesión</span>
  </button>
</aside>
